<a href="https://colab.research.google.com/github/jseipelt/DATA612/blob/main/Assignment02_Jeff_Seipelt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 2

## Purpose:     
This assignment is intended to help you do the following:   
1.	Modify and add information on the dataset by adding and calculating new columns     
2.	Work with dates in a dataset       
3.	Learn how to write and save your work as a csv file from Jupyter Notebook.

## Action Items:       
â€¢	Create a new column using the date column.     
  1. Find the maximum date of your data.     
  2. Subtract all the dates on the column from the maximum date.       
  3. Convert the number of days into number of months.       
  4. Save the result on a new column and add to the data set.        
  5. Save the dataset as a csv file.        
  6. Upload the assignment on your GitHub account and Update the README file where you explain everything you did.

In [15]:
import pandas as pd # This is needed to read the .csv file for the dataframe

scientists = pd.read_csv('https://raw.githubusercontent.com/chendaniely/\
pandas_for_everyone/master/data/scientists.csv') # pd.read is used to import this csv file and is named scientists for future use.

scientists.Born.max() # using the .max function to check the maximum date for both the Born column and Died column

'1920-07-25'

In [16]:
scientists.Died.max() # The Died column has the later date between the two and is the true maximum date.

'1964-04-14'

In [97]:
(pd.to_datetime(scientists.Died.max()) - pd.to_datetime(scientists.Died)) # Converting to datetime allows for an easy calculation showing how many days of difference between the max date and the others.

0    2190 days
1    9677 days
2   19603 days
3   10877 days
4       0 days
5   38653 days
6    3599 days
7   39862 days
Name: Died, dtype: timedelta64[ns]

In [98]:
import numpy as np

(pd.to_datetime(scientists.Died.max()) - pd.to_datetime(scientists.Died)) / np.timedelta64(1,'M') # Using numpys timedelta to take our days calculation and convert it to the number of months instead.

0      71.952196
1     317.936713
2     644.054293
3     357.362574
4       0.000000
5    1269.939834
6     118.244728
7    1309.661389
Name: Died, dtype: float64

In [103]:
scientists['max_difference_months'] = (pd.to_datetime(scientists.Died.max()) - pd.to_datetime(scientists.Died)) / np.timedelta64(1,'M') # Assigned this calculation to a new column in the scientists dataframe.

scientists

                   Name        Born  ...          Occupation  max_difference_months
0     Rosaline Franklin  1920-07-25  ...             Chemist              71.952196
1        William Gosset  1876-06-13  ...        Statistician             317.936713
2  Florence Nightingale  1820-05-12  ...               Nurse             644.054293
3           Marie Curie  1867-11-07  ...             Chemist             357.362574
4         Rachel Carson  1907-05-27  ...           Biologist               0.000000
5             John Snow  1813-03-15  ...           Physician            1269.939834
6           Alan Turing  1912-06-23  ...  Computer Scientist             118.244728
7          Johann Gauss  1777-04-30  ...       Mathematician            1309.661389

[8 rows x 6 columns]

In [104]:
scientists.to_csv('scientists_clean.csv', index=False) # .to_csv function used to create a new csv with the added column included.