<a href="https://colab.research.google.com/github/jseipelt/DATA612/blob/main/Jeff_Seipelt_Assignment_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 7

## Purpose          
This assignment is intended to help you do the following:      
  - Groupby operations to aggregate, transform, and filter data      
  - Built-in and custom user functions to perform groupby operations

## About the assignment

In the industry, analytics professionals often explore data's measure variables grouped by one or multiple dimension variables. For example, the metrics of interest could be the average, max, min, or percentage (mix) of sales by month, location, etc.

The followings are the sample code snippet using the custom user functions together with `groupby()` and `apply()` in another way:

In [9]:
import pandas as pd

# the mpg data is used for demonstration
df = pd.read_csv("https://raw.githubusercontent.com/franklin-univ-data-science/data/master/mpg.csv")
df.head()

    mpg  cylinders  displacement  acceleration  model  origin
0  18.0          8         307.0          12.0     70       1
1  15.0          8         350.0          11.5     70       1
2  18.0          8         318.0          11.0     70       1
3  16.0          8         304.0          12.0     70       1
4  17.0          8         302.0          10.5     70       1

In [11]:
def summarize_data(g):
  return(
    pd.Series({
      "avg_MPG": g.mpg.mean(),
      "min_MPG": g.mpg.min(),
      "max_MPG": g.mpg.max(),
      "sample_count": len(g),
      "mix": g.cylinders.sum()/df.cylinders.sum(),
    })
  )

df.groupby("cylinders").apply(summarize_data)

             avg_MPG  min_MPG  max_MPG  sample_count       mix
cylinders
3          20.550000     18.0     23.7           4.0  0.005398
4          29.286765     18.0     46.6         207.0  0.372470
5          27.366667     20.3     36.4           3.0  0.006748
6          19.985714     15.0     38.0          84.0  0.226721
8          14.963107      9.0     26.6         108.0  0.388664

## Tasks   
  1. Read the `summarize_data()` and explain the difference between g and df.

  2. Select the measure and dimention variables from your dataframe, apply the `summarize_data()` and modify as needed based on your preferences.    

  3. Write 1-3 paragraphs to explain the differences or challenges when you applied the function to your chosen dataframe.

  4. Post your version of the above code on your GitHub account. Do not forget a README file with explanations.

  1. Read the `summarize_data()` and explain the difference between g and df.

The dataframe is different from g because g is used as the chosen group within the dataframe. In the example, the mpg dataframe is used and the 'cylinders' column represents g. The cylinders are separated by value into their own groups and the function calculates the summary for each group of cylinders.

  2. Select the measure and dimention variables from your dataframe, apply the `summarize_data()` and modify as needed based on your preferences.

In [33]:
import pandas as pd # pandas used to read csv as well as part of the function

prescriptions = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/State_Drug_Utilization_Data_2010/State_Drug_Utilization_Data_2010.csv')

def summarize_prescriptions(g): # function defined for several series and statistics
  return(
    pd.Series({
      "avg_prescriptions": g['Number of Prescriptions'].mean(), # column name and values are defined in this dictionary
      "min_prescriptions": g['Number of Prescriptions'].min(),
      "max_prescriptions": g['Number of Prescriptions'].max(),
      "sample_count": len(g),
      "mix": g['Number of Prescriptions'].sum()/prescriptions['Number of Prescriptions'].sum(),
    })
  )

prescriptions.groupby("State").apply(summarize_prescriptions) # grouping by State and running the function to get a summary for each State

       avg_prescriptions  min_prescriptions  ...  sample_count       mix
State                                        ...
AK             29.119737                1.0  ...        1520.0  0.000894
AL            157.579931                1.0  ...        2621.0  0.008346
AR            111.283124                1.0  ...        2151.0  0.004837
AZ            127.001769                1.0  ...        3956.0  0.010152
CA            375.519322                1.0  ...        5719.0  0.043397
CO             80.875000                1.0  ...        2016.0  0.003295
CT            116.824053                1.0  ...        2694.0  0.006360
DC             34.203146                1.0  ...        1462.0  0.001010
DE             55.308199                1.0  ...        1671.0  0.001868
FL            200.417330                1.0  ...        5147.0  0.020845
GA            206.223196                1.0  ...        2854.0  0.011893
HI             75.785784                1.0  ...        1027.0  0.001573
IA             99.471346                1.0  ...        2251.0  0.004525
ID             48.712156                1.0  ...        1744.0  0.001717
IL            380.208102                1.0  ...        3061.0  0.023517
IN            179.613321                1.0  ...        3243.0  0.011770
KS             46.513686                1.0  ...        2813.0  0.002644
KY            130.048473                1.0  ...        5240.0  0.013770
LA            221.485499                1.0  ...        2655.0  0.011883
MA            203.971945                1.0  ...        3101.0  0.012781
MD             77.719033                1.0  ...        4755.0  0.007468
ME             88.792571                1.0  ...        2073.0  0.003719
MI            145.902327                1.0  ...        5242.0  0.015455
MN             71.900102                1.0  ...        4895.0  0.007112
MO            225.037850                1.0  ...        3144.0  0.014297
MS            107.818493                1.0  ...        2628.0  0.005726
MT             25.811543                1.0  ...        1698.0  0.000886
NC            272.866933                1.0  ...        3254.0  0.017942
ND             22.484375                1.0  ...        1408.0  0.000640
NE             60.541899                1.0  ...        2506.0  0.003066
NH             39.679090                1.0  ...        2066.0  0.001657
NJ             85.264864                1.0  ...        4659.0  0.008027
NM             85.002801                1.0  ...        1071.0  0.001840
NV             35.759056                1.0  ...        3009.0  0.002174
NY            826.832355                1.0  ...        3406.0  0.056907
OH            476.512353                1.0  ...        3238.0  0.031179
OK            120.092398                1.0  ...        2381.0  0.005778
OR             68.720535                1.0  ...        3063.0  0.004253
PA            155.683013                1.0  ...        5098.0  0.016038
RI             25.979100                1.0  ...        1244.0  0.000653
SC             66.271042                1.0  ...        4693.0  0.006285
SD             24.370053                1.0  ...        1516.0  0.000747
TN            200.465423                1.0  ...        2733.0  0.011071
TX            664.153526                1.0  ...        2879.0  0.038638
UT             63.815881                1.0  ...        2015.0  0.002598
VA            116.293279                1.0  ...        2946.0  0.006923
VT             41.332192                1.0  ...        1752.0  0.001463
WA            109.811250                1.0  ...        2951.0  0.006548
WI            211.407905                1.0  ...        2530.0  0.010808
WV            136.927561                1.0  ...        2333.0  0.006455
WY             20.690031                1.0  ...        1284.0  0.000537
XX           2317.873565                1.0  ...       10804.0  0.506034

[52 rows x 5 columns]

  3. Write 1-3 paragraphs to explain the differences or challenges when you applied the function to your chosen dataframe.

I chose to summarize the Number of Prescription column and group them by State. First, the column labels were appropriately changed from mpg to prescriptions and doing the same for querying the dataframe names. On the final line using the apply function, the summary was grouped by State so that the function was applied to each State.

The challenge in using the original function for this dataset was understanding what each part was asking for in order to substitute the correct component. Once I had wrapped my head around the concept, it was easier to substitute what was needed for my own dataset.